// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "../sass/myStyle";
body {
    background-image: url( 'https://i.imgur.com/jh0i36a.png');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
